# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.Plo

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# Ignore libtool
libtool


# Ignoring include/ and lib/ directories
include/
lib/

# Ignoring .log files
*.log
